<h1>User - Attendances</h1>

<div>
<table>
  <tr>
    <th>ID</th>
    <th>Time</th>
  </tr>

  <tr>
    <td><%= attendance.id %></td>
    <td><%= attendance.created_at %></td>
  </tr>
</table>
</div>
